pipeline/pipeline-Capture-FileName-Dynamically.json
{
	"name": "pipeline-Capture-FileName-Dynamically",
	"properties": {
		"activities": [
			{
				"name": "Staging tables - clean up",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_StgDataPrep]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Staging tables - clean up",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Dataset_Input_JsonFile_V3",
						"type": "DatasetReference",
						"parameters": {
							"ds_Param_FileNm": {
								"value": "@variables('pl_Var_FileNm')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "File processing",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pl_Var_FileNm",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data to stage table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "EA_jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eventID']"
											},
											"sink": {
												"name": "EA_eventID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['apptStart']"
											},
											"sink": {
												"name": "EA_apptStart",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['apptEnd']"
											},
											"sink": {
												"name": "EA_apptEnd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['status']"
											},
											"sink": {
												"name": "EA_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['claimXRef']"
											},
											"sink": {
												"name": "EA_claimXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateVistNotified']"
											},
											"sink": {
												"name": "EA_lateVistNotified",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateVisitAcknowledgedBy']"
											},
											"sink": {
												"name": "EA_lateVisitAcknowledgedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitNotified']"
											},
											"sink": {
												"name": "EA_missedVisitNotified",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitAcknowledgedBy']"
											},
											"sink": {
												"name": "EA_missedVisitAcknowledgedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitCode']"
											},
											"sink": {
												"name": "EA_missedVisitCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitCodeUpdatedBy']"
											},
											"sink": {
												"name": "EA_missedVisitCodeUpdatedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateReasonCode']"
											},
											"sink": {
												"name": "EA_lateReasonCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateReasonDesc']"
											},
											"sink": {
												"name": "EA_lateReasonDesc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaPrimaryWorkerXRef']"
											},
											"sink": {
												"name": "EA_eaPrimaryWorkerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaBackWorkerXRef']"
											},
											"sink": {
												"name": "EA_eaBackWorkerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['bk_eaConsumerXRef']"
											},
											"sink": {
												"name": "EA_bk_eaConsumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaProviderXRef']"
											},
											"sink": {
												"name": "EA_eaProviderXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaServiceXRef']"
											},
											"sink": {
												"name": "EA_eaServiceXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaPayerXRef']"
											},
											"sink": {
												"name": "EA_eaPayerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaAuthorizationXRef']"
											},
											"sink": {
												"name": "EA_eaAuthorizationXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['sk_eaConsumerXRef']"
											},
											"sink": {
												"name": "EA_sk_eaConsumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "CI_jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['path']"
											},
											"sink": {
												"name": "CI_path",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['itemName']"
											},
											"sink": {
												"name": "CI_itemName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['language']"
											},
											"sink": {
												"name": "CI_language",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['itemType']"
											},
											"sink": {
												"name": "CI_itemType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['value']"
											},
											"sink": {
												"name": "CI_value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['documentation']"
											},
											"sink": {
												"name": "CI_documentation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "CEX_jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['claimID']"
											},
											"sink": {
												"name": "CEX_claimID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['exception']"
											},
											"sink": {
												"name": "CEX_exception",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['systemExceptions']"
											},
											"sink": {
												"name": "CEX_systemExceptions",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['exportTS']"
											},
											"sink": {
												"name": "CEX_exportTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['claimExceptionStatusFlag']"
											},
											"sink": {
												"name": "CEX_claimExceptionStatusFlag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['creationTS']"
											},
											"sink": {
												"name": "CEX_creationTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['flaggedHistory']"
											},
											"sink": {
												"name": "CEX_flaggedHistory",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['lastUpdatedTimestamp']"
											},
											"sink": {
												"name": "CEX_lastUpdatedTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "CA_jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimID']"
											},
											"sink": {
												"name": "CA_claimID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimXRef']"
											},
											"sink": {
												"name": "CA_claimXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['serviceXRef']"
											},
											"sink": {
												"name": "CA_serviceXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authorizationXRef']"
											},
											"sink": {
												"name": "CA_authorizationXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimStart']"
											},
											"sink": {
												"name": "CA_claimStart",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimEnd']"
											},
											"sink": {
												"name": "CA_claimEnd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['status']"
											},
											"sink": {
												"name": "CA_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['action']"
											},
											"sink": {
												"name": "CA_action",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['creationTimestamp']"
											},
											"sink": {
												"name": "CA_creationTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['completionTimestamp']"
											},
											"sink": {
												"name": "CA_completionTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['touchTimestamp']"
											},
											"sink": {
												"name": "CA_touchTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['filingSource']"
											},
											"sink": {
												"name": "CA_filingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['providerXRef']"
											},
											"sink": {
												"name": "CA_providerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['providerName']"
											},
											"sink": {
												"name": "CA_providerName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerXRef']"
											},
											"sink": {
												"name": "CA_workerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerFirstName']"
											},
											"sink": {
												"name": "CA_workerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerMidName']"
											},
											"sink": {
												"name": "CA_workerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerLastName']"
											},
											"sink": {
												"name": "CA_workerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['bk_consumerXRef']"
											},
											"sink": {
												"name": "CA_bk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['bk_consumerFirstName']"
											},
											"sink": {
												"name": "CA_bk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['consumerMidName']"
											},
											"sink": {
												"name": "CA_consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['consumerLastName']"
											},
											"sink": {
												"name": "CA_consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerXRef']"
											},
											"sink": {
												"name": "CA_caseManagerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerFirstName']"
											},
											"sink": {
												"name": "CA_caseManagerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerMidName']"
											},
											"sink": {
												"name": "CA_caseManagerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerLastName']"
											},
											"sink": {
												"name": "CA_caseManagerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeXRef']"
											},
											"sink": {
												"name": "CA_representativeXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeFirstName']"
											},
											"sink": {
												"name": "CA_representativeFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeMidName']"
											},
											"sink": {
												"name": "CA_representativeMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeLastName']"
											},
											"sink": {
												"name": "CA_representativeLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['billingConfirmed']"
											},
											"sink": {
												"name": "CA_billingConfirmed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['userName']"
											},
											"sink": {
												"name": "CA_userName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['lastUpdateAuditTimestamp']"
											},
											"sink": {
												"name": "CA_lastUpdateAuditTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['exportTs']"
											},
											"sink": {
												"name": "CA_exportTs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['auditClaimStartTS']"
											},
											"sink": {
												"name": "CA_auditClaimStartTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['auditClaimDeleteTS']"
											},
											"sink": {
												"name": "CA_auditClaimDeleteTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['actualUnits']"
											},
											"sink": {
												"name": "CA_actualUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authUnits']"
											},
											"sink": {
												"name": "CA_authUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['unitsEntered']"
											},
											"sink": {
												"name": "CA_unitsEntered",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authAdjstUnits']"
											},
											"sink": {
												"name": "CA_authAdjstUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['paidUnits']"
											},
											"sink": {
												"name": "CA_paidUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['rate']"
											},
											"sink": {
												"name": "CA_rate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['actualAmount']"
											},
											"sink": {
												"name": "CA_actualAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authAmount']"
											},
											"sink": {
												"name": "CA_authAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['billableAmount']"
											},
											"sink": {
												"name": "CA_billableAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['paidAmount']"
											},
											"sink": {
												"name": "CA_paidAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['mileage']"
											},
											"sink": {
												"name": "CA_mileage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['travelTime']"
											},
											"sink": {
												"name": "CA_travelTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['payerXRef']"
											},
											"sink": {
												"name": "CA_payerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['contactDuration']"
											},
											"sink": {
												"name": "CA_contactDuration",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimEditedToIncreaseUnits']"
											},
											"sink": {
												"name": "CA_claimEditedToIncreaseUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerFirstName']"
											},
											"sink": {
												"name": "CA_sk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerLastName']"
											},
											"sink": {
												"name": "CA_sk_consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerMidName']"
											},
											"sink": {
												"name": "CA_sk_consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerXRef']"
											},
											"sink": {
												"name": "CA_sk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['fmsaReviewDate']"
											},
											"sink": {
												"name": "CA_fmsaReviewDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['backupWorker']"
											},
											"sink": {
												"name": "CA_backupWorker",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['isMissingClockInOrOut']"
											},
											"sink": {
												"name": "CA_isMissingClockInOrOut",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['clientAttestation']"
											},
											"sink": {
												"name": "CA_clientAttestation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['visitModification']"
											},
											"sink": {
												"name": "CA_visitModification",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['consumerSignatureAvailable']"
											},
											"sink": {
												"name": "CA_consumerSignatureAvailable",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['checkDate']"
											},
											"sink": {
												"name": "CA_checkDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['orignalSystemClaimFilingSource']"
											},
											"sink": {
												"name": "CA_orignalSystemClaimFilingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['providerMedicaid']"
											},
											"sink": {
												"name": "CA_providerMedicaid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimConfirmed']"
											},
											"sink": {
												"name": "CA_claimConfirmed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "C_jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimID']"
											},
											"sink": {
												"name": "C_claimID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimGroupID']"
											},
											"sink": {
												"name": "C_claimGroupID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['rowNumber']"
											},
											"sink": {
												"name": "C_rowNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['lineNumber']"
											},
											"sink": {
												"name": "C_lineNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimXRef']"
											},
											"sink": {
												"name": "C_claimXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['serviceXref']"
											},
											"sink": {
												"name": "C_serviceXref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authorizationXRef']"
											},
											"sink": {
												"name": "C_authorizationXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimStart']"
											},
											"sink": {
												"name": "C_claimStart",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimEnd']"
											},
											"sink": {
												"name": "C_claimEnd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['status']"
											},
											"sink": {
												"name": "C_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkInPhone']"
											},
											"sink": {
												"name": "C_bk_checkInPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkOutPhone']"
											},
											"sink": {
												"name": "C_bk_checkOutPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['creationTimestamp']"
											},
											"sink": {
												"name": "C_creationTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['completionTimestamp']"
											},
											"sink": {
												"name": "C_completionTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['touchTimestamp']"
											},
											"sink": {
												"name": "C_touchTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['fillingSource']"
											},
											"sink": {
												"name": "C_fillingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['providerXRef']"
											},
											"sink": {
												"name": "C_providerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['providerName']"
											},
											"sink": {
												"name": "C_providerName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerXref']"
											},
											"sink": {
												"name": "C_workerXref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerFirstName']"
											},
											"sink": {
												"name": "C_workerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerMidName']"
											},
											"sink": {
												"name": "C_workerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerLastName']"
											},
											"sink": {
												"name": "C_workerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerXRef']"
											},
											"sink": {
												"name": "C_bk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerFirstName']"
											},
											"sink": {
												"name": "C_bk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerMidName']"
											},
											"sink": {
												"name": "C_bk_consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerLastName']"
											},
											"sink": {
												"name": "C_bk_consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerXRef']"
											},
											"sink": {
												"name": "C_caseManagerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerFirstName']"
											},
											"sink": {
												"name": "C_caseManagerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerMidName']"
											},
											"sink": {
												"name": "C_caseManagerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerLastName']"
											},
											"sink": {
												"name": "C_caseManagerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeXRef']"
											},
											"sink": {
												"name": "C_representativeXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeFirstName']"
											},
											"sink": {
												"name": "C_representativeFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeMidName']"
											},
											"sink": {
												"name": "C_representativeMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeLastName']"
											},
											"sink": {
												"name": "C_representativeLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['emergency']"
											},
											"sink": {
												"name": "C_emergency",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['multiClientDiscount']"
											},
											"sink": {
												"name": "C_multiClientDiscount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authData']"
											},
											"sink": {
												"name": "C_authData",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['eventID']"
											},
											"sink": {
												"name": "C_eventID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['billingConfirmed']"
											},
											"sink": {
												"name": "C_billingConfirmed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInvoicePrintFailed']"
											},
											"sink": {
												"name": "C_checkInvoicePrintFailed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutVoicePrintFialed']"
											},
											"sink": {
												"name": "C_checkOutVoicePrintFialed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['userName']"
											},
											"sink": {
												"name": "C_userName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['lastUpdateAuditTimestamp']"
											},
											"sink": {
												"name": "C_lastUpdateAuditTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAuthorizationFlag']"
											},
											"sink": {
												"name": "C_checkInAuthorizationFlag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAuthorizationData']"
											},
											"sink": {
												"name": "C_checkInAuthorizationData",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAuthorizationFlag']"
											},
											"sink": {
												"name": "C_checkOutAuthorizationFlag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAuthorizationData']"
											},
											"sink": {
												"name": "C_checkOutAuthorizationData",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['exportTs']"
											},
											"sink": {
												"name": "C_exportTs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['actualUnits']"
											},
											"sink": {
												"name": "C_actualUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authUnits']"
											},
											"sink": {
												"name": "C_authUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['unitsEntered']"
											},
											"sink": {
												"name": "C_unitsEntered",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authAdjstUnits']"
											},
											"sink": {
												"name": "C_authAdjstUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['paidUnits']"
											},
											"sink": {
												"name": "C_paidUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['rate']"
											},
											"sink": {
												"name": "C_rate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['actualAmount']"
											},
											"sink": {
												"name": "C_actualAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authAmount']"
											},
											"sink": {
												"name": "C_authAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['billableAmount']"
											},
											"sink": {
												"name": "C_billableAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['paidAmount']"
											},
											"sink": {
												"name": "C_paidAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['mileage']"
											},
											"sink": {
												"name": "C_mileage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['travelTime']"
											},
											"sink": {
												"name": "C_travelTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInDataXml']"
											},
											"sink": {
												"name": "C_checkInDataXml",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutDataXml']"
											},
											"sink": {
												"name": "C_checkOutDataXml",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_medicaidID']"
											},
											"sink": {
												"name": "C_bk_medicaidID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['payerXRef']"
											},
											"sink": {
												"name": "C_payerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimSubmitterID']"
											},
											"sink": {
												"name": "C_claimSubmitterID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['serviceLineID']"
											},
											"sink": {
												"name": "C_serviceLineID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkInLocationLatitude']"
											},
											"sink": {
												"name": "C_bk_checkInLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkOutLocationLatitude']"
											},
											"sink": {
												"name": "C_bk_checkOutLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkInLocationLongitude']"
											},
											"sink": {
												"name": "C_bk_checkInLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkOutLocationLongitude']"
											},
											"sink": {
												"name": "C_bk_checkOutLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAddressType']"
											},
											"sink": {
												"name": "C_checkInAddressType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAddressType']"
											},
											"sink": {
												"name": "C_checkOutAddressType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAddressDesc']"
											},
											"sink": {
												"name": "C_checkInAddressDesc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAddressDesc']"
											},
											"sink": {
												"name": "C_checkOutAddressDesc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInMobileCardXRef']"
											},
											"sink": {
												"name": "C_checkInMobileCardXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutMobileCardXRef']"
											},
											"sink": {
												"name": "C_checkOutMobileCardXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['dtBatchExportTs']"
											},
											"sink": {
												"name": "C_dtBatchExportTs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['contactDuration']"
											},
											"sink": {
												"name": "C_contactDuration",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['overlappingClaims']"
											},
											"sink": {
												"name": "C_overlappingClaims",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimReviewDate']"
											},
											"sink": {
												"name": "C_claimReviewDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimEditedToIncreaseUnits']"
											},
											"sink": {
												"name": "C_claimEditedToIncreaseUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerFullName']"
											},
											"sink": {
												"name": "C_bk_consumerFullName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkInLocationLatitude']"
											},
											"sink": {
												"name": "C_sk_checkInLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkInLocationLongitude']"
											},
											"sink": {
												"name": "C_sk_checkInLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkInPhone']"
											},
											"sink": {
												"name": "C_sk_checkInPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkOutLocationLatitude']"
											},
											"sink": {
												"name": "C_sk_checkOutLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkOutLocationLongitude']"
											},
											"sink": {
												"name": "C_sk_checkOutLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkOutPhone']"
											},
											"sink": {
												"name": "C_sk_checkOutPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerFullName']"
											},
											"sink": {
												"name": "C_sk_consumerFullName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerFirstName']"
											},
											"sink": {
												"name": "C_sk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerLastName']"
											},
											"sink": {
												"name": "C_sk_consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerMidName']"
											},
											"sink": {
												"name": "C_sk_consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerXRef']"
											},
											"sink": {
												"name": "C_sk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_medicaidID']"
											},
											"sink": {
												"name": "C_sk_medicaidID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInDataXMLKeyNum']"
											},
											"sink": {
												"name": "C_checkInDataXMLKeyNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutDataXMLKeyNum']"
											},
											"sink": {
												"name": "C_checkOutDataXMLKeyNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['fmsaReviewDate']"
											},
											"sink": {
												"name": "C_fmsaReviewDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['backupWorker']"
											},
											"sink": {
												"name": "C_backupWorker",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['isMissingClockInOrOut']"
											},
											"sink": {
												"name": "C_isMissingClockInOrOut",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['clientAttestation']"
											},
											"sink": {
												"name": "C_clientAttestation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['visitModification']"
											},
											"sink": {
												"name": "C_visitModification",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['consumerSignatureAvailable']"
											},
											"sink": {
												"name": "C_consumerSignatureAvailable",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkDate']"
											},
											"sink": {
												"name": "C_checkDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['orignalSystemClaimFilingSource']"
											},
											"sink": {
												"name": "C_orignalSystemClaimFilingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['providerMedicaid']"
											},
											"sink": {
												"name": "C_providerMedicaid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['settingOfCare']"
											},
											"sink": {
												"name": "C_settingOfCare",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimConfirmed']"
											},
											"sink": {
												"name": "C_claimConfirmed",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_Input_JsonFile_V3",
									"type": "DatasetReference",
									"parameters": {
										"ds_Param_FileNm": {
											"value": "@variables('pl_Var_FileNm')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OUT_AzureSQLTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data to stage table - EA",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eventID']"
											},
											"sink": {
												"name": "eventID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['apptStart']"
											},
											"sink": {
												"name": "apptStart",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['apptEnd']"
											},
											"sink": {
												"name": "apptEnd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['status']"
											},
											"sink": {
												"name": "status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['claimXRef']"
											},
											"sink": {
												"name": "claimXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateVistNotified']"
											},
											"sink": {
												"name": "lateVistNotified",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateVisitAcknowledgedBy']"
											},
											"sink": {
												"name": "lateVisitAcknowledgedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitNotified']"
											},
											"sink": {
												"name": "missedVisitNotified",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitAcknowledgedBy']"
											},
											"sink": {
												"name": "missedVisitAcknowledgedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitCode']"
											},
											"sink": {
												"name": "missedVisitCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['missedVisitCodeUpdatedBy']"
											},
											"sink": {
												"name": "missedVisitCodeUpdatedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateReasonCode']"
											},
											"sink": {
												"name": "lateReasonCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['lateReasonDesc']"
											},
											"sink": {
												"name": "lateReasonDesc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaPrimaryWorkerXRef']"
											},
											"sink": {
												"name": "eaPrimaryWorkerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaBackWorkerXRef']"
											},
											"sink": {
												"name": "eaBackWorkerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['bk_eaConsumerXRef']"
											},
											"sink": {
												"name": "bk_eaConsumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaProviderXRef']"
											},
											"sink": {
												"name": "eaProviderXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaServiceXRef']"
											},
											"sink": {
												"name": "eaServiceXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaPayerXRef']"
											},
											"sink": {
												"name": "eaPayerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['eaAuthorizationXRef']"
											},
											"sink": {
												"name": "eaAuthorizationXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EventAppointmentData']['EventAppointmentRecs'][0]['sk_eaConsumerXRef']"
											},
											"sink": {
												"name": "sk_eaConsumerXRef",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_Input_JsonFile_V3",
									"type": "DatasetReference",
									"parameters": {
										"ds_Param_FileNm": {
											"value": "@variables('pl_Var_FileNm')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OUT_AzureSQLTable_ea2",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data to stage table - CI",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data to stage table - EA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['path']"
											},
											"sink": {
												"name": "path",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['itemName']"
											},
											"sink": {
												"name": "itemName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['language']"
											},
											"sink": {
												"name": "language",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['itemType']"
											},
											"sink": {
												"name": "itemType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['value']"
											},
											"sink": {
												"name": "value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ConfigItemsData']['ConfigItemsRecs'][0]['documentation']"
											},
											"sink": {
												"name": "documentation",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_Input_JsonFile_V3",
									"type": "DatasetReference",
									"parameters": {
										"ds_Param_FileNm": {
											"value": "@variables('pl_Var_FileNm')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OUT_AzureSQLTable_ci2",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data to stage table - CEX",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data to stage table - CI",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['claimID']"
											},
											"sink": {
												"name": "claimID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['exception']"
											},
											"sink": {
												"name": "exception",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['systemExceptions']"
											},
											"sink": {
												"name": "systemExceptions",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['exportTS']"
											},
											"sink": {
												"name": "exportTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['claimExceptionStatusFlag']"
											},
											"sink": {
												"name": "claimExceptionStatusFlag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['creationTS']"
											},
											"sink": {
												"name": "creationTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['flaggedHistory']"
											},
											"sink": {
												"name": "flaggedHistory",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimExceptionData']['ClaimExceptionRecs'][0]['lastUpdatedTimestamp']"
											},
											"sink": {
												"name": "lastUpdatedTimestamp",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_Input_JsonFile_V3",
									"type": "DatasetReference",
									"parameters": {
										"ds_Param_FileNm": {
											"value": "@variables('pl_Var_FileNm')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OUT_AzureSQLTable_cex2",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data to stage table - CA",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data to stage table - CEX",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimID']"
											},
											"sink": {
												"name": "claimID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimXRef']"
											},
											"sink": {
												"name": "claimXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['serviceXRef']"
											},
											"sink": {
												"name": "serviceXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authorizationXRef']"
											},
											"sink": {
												"name": "authorizationXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimStart']"
											},
											"sink": {
												"name": "claimStart",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimEnd']"
											},
											"sink": {
												"name": "claimEnd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['status']"
											},
											"sink": {
												"name": "status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['action']"
											},
											"sink": {
												"name": "action",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['creationTimestamp']"
											},
											"sink": {
												"name": "creationTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['completionTimestamp']"
											},
											"sink": {
												"name": "completionTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['touchTimestamp']"
											},
											"sink": {
												"name": "touchTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['filingSource']"
											},
											"sink": {
												"name": "filingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['providerXRef']"
											},
											"sink": {
												"name": "providerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['providerName']"
											},
											"sink": {
												"name": "providerName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerXRef']"
											},
											"sink": {
												"name": "workerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerFirstName']"
											},
											"sink": {
												"name": "workerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerMidName']"
											},
											"sink": {
												"name": "workerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['workerLastName']"
											},
											"sink": {
												"name": "workerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['bk_consumerXRef']"
											},
											"sink": {
												"name": "bk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['bk_consumerFirstName']"
											},
											"sink": {
												"name": "bk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['consumerMidName']"
											},
											"sink": {
												"name": "consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['consumerLastName']"
											},
											"sink": {
												"name": "consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerXRef']"
											},
											"sink": {
												"name": "caseManagerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerFirstName']"
											},
											"sink": {
												"name": "caseManagerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerMidName']"
											},
											"sink": {
												"name": "caseManagerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['caseManagerLastName']"
											},
											"sink": {
												"name": "caseManagerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeXRef']"
											},
											"sink": {
												"name": "representativeXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeFirstName']"
											},
											"sink": {
												"name": "representativeFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeMidName']"
											},
											"sink": {
												"name": "representativeMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['representativeLastName']"
											},
											"sink": {
												"name": "representativeLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['billingConfirmed']"
											},
											"sink": {
												"name": "billingConfirmed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['userName']"
											},
											"sink": {
												"name": "userName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['lastUpdateAuditTimestamp']"
											},
											"sink": {
												"name": "lastUpdateAuditTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['exportTs']"
											},
											"sink": {
												"name": "exportTs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['auditClaimStartTS']"
											},
											"sink": {
												"name": "auditClaimStartTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['auditClaimDeleteTS']"
											},
											"sink": {
												"name": "auditClaimDeleteTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['actualUnits']"
											},
											"sink": {
												"name": "actualUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authUnits']"
											},
											"sink": {
												"name": "authUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['unitsEntered']"
											},
											"sink": {
												"name": "unitsEntered",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authAdjstUnits']"
											},
											"sink": {
												"name": "authAdjstUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['paidUnits']"
											},
											"sink": {
												"name": "paidUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['rate']"
											},
											"sink": {
												"name": "rate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['actualAmount']"
											},
											"sink": {
												"name": "actualAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['authAmount']"
											},
											"sink": {
												"name": "authAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['billableAmount']"
											},
											"sink": {
												"name": "billableAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['paidAmount']"
											},
											"sink": {
												"name": "paidAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['mileage']"
											},
											"sink": {
												"name": "mileage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['travelTime']"
											},
											"sink": {
												"name": "travelTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['payerXRef']"
											},
											"sink": {
												"name": "payerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['contactDuration']"
											},
											"sink": {
												"name": "contactDuration",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimEditedToIncreaseUnits']"
											},
											"sink": {
												"name": "claimEditedToIncreaseUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerFirstName']"
											},
											"sink": {
												"name": "sk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerLastName']"
											},
											"sink": {
												"name": "sk_consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerMidName']"
											},
											"sink": {
												"name": "sk_consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['sk_consumerXRef']"
											},
											"sink": {
												"name": "sk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['fmsaReviewDate']"
											},
											"sink": {
												"name": "fmsaReviewDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['backupWorker']"
											},
											"sink": {
												"name": "backupWorker",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['isMissingClockInOrOut']"
											},
											"sink": {
												"name": "isMissingClockInOrOut",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['clientAttestation']"
											},
											"sink": {
												"name": "clientAttestation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['visitModification']"
											},
											"sink": {
												"name": "visitModification",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['consumerSignatureAvailable']"
											},
											"sink": {
												"name": "consumerSignatureAvailable",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['checkDate']"
											},
											"sink": {
												"name": "checkDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['orignalSystemClaimFilingSource']"
											},
											"sink": {
												"name": "orignalSystemClaimFilingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['providerMedicaid']"
											},
											"sink": {
												"name": "providerMedicaid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimAuditData']['ClaimAuditRecs'][0]['claimConfirmed']"
											},
											"sink": {
												"name": "claimConfirmed",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_Input_JsonFile_V3",
									"type": "DatasetReference",
									"parameters": {
										"ds_Param_FileNm": {
											"value": "@variables('pl_Var_FileNm')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OUT_AzureSQLTable_ca2",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data to stage table - C",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data to stage table - CA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['jurisdictionCode']"
											},
											"sink": {
												"name": "jurisdictionCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimID']"
											},
											"sink": {
												"name": "claimID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimGroupID']"
											},
											"sink": {
												"name": "claimGroupID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['rowNumber']"
											},
											"sink": {
												"name": "rowNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['lineNumber']"
											},
											"sink": {
												"name": "lineNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimXRef']"
											},
											"sink": {
												"name": "claimXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['serviceXref']"
											},
											"sink": {
												"name": "serviceXref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authorizationXRef']"
											},
											"sink": {
												"name": "authorizationXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimStart']"
											},
											"sink": {
												"name": "claimStart",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimEnd']"
											},
											"sink": {
												"name": "claimEnd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['status']"
											},
											"sink": {
												"name": "status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkInPhone']"
											},
											"sink": {
												"name": "bk_checkInPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkOutPhone']"
											},
											"sink": {
												"name": "bk_checkOutPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['creationTimestamp']"
											},
											"sink": {
												"name": "creationTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['completionTimestamp']"
											},
											"sink": {
												"name": "completionTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['touchTimestamp']"
											},
											"sink": {
												"name": "touchTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['fillingSource']"
											},
											"sink": {
												"name": "fillingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['providerXRef']"
											},
											"sink": {
												"name": "providerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['providerName']"
											},
											"sink": {
												"name": "providerName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerXref']"
											},
											"sink": {
												"name": "workerXref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerFirstName']"
											},
											"sink": {
												"name": "workerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerMidName']"
											},
											"sink": {
												"name": "workerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['workerLastName']"
											},
											"sink": {
												"name": "workerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerXRef']"
											},
											"sink": {
												"name": "bk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerFirstName']"
											},
											"sink": {
												"name": "bk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerMidName']"
											},
											"sink": {
												"name": "bk_consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerLastName']"
											},
											"sink": {
												"name": "bk_consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerXRef']"
											},
											"sink": {
												"name": "caseManagerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerFirstName']"
											},
											"sink": {
												"name": "caseManagerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerMidName']"
											},
											"sink": {
												"name": "caseManagerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['caseManagerLastName']"
											},
											"sink": {
												"name": "caseManagerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeXRef']"
											},
											"sink": {
												"name": "representativeXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeFirstName']"
											},
											"sink": {
												"name": "representativeFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeMidName']"
											},
											"sink": {
												"name": "representativeMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['representativeLastName']"
											},
											"sink": {
												"name": "representativeLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['emergency']"
											},
											"sink": {
												"name": "emergency",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['multiClientDiscount']"
											},
											"sink": {
												"name": "multiClientDiscount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authData']"
											},
											"sink": {
												"name": "authData",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['eventID']"
											},
											"sink": {
												"name": "eventID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['billingConfirmed']"
											},
											"sink": {
												"name": "billingConfirmed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInvoicePrintFailed']"
											},
											"sink": {
												"name": "checkInvoicePrintFailed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutVoicePrintFialed']"
											},
											"sink": {
												"name": "checkOutVoicePrintFialed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['userName']"
											},
											"sink": {
												"name": "userName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['lastUpdateAuditTimestamp']"
											},
											"sink": {
												"name": "lastUpdateAuditTimestamp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAuthorizationFlag']"
											},
											"sink": {
												"name": "checkInAuthorizationFlag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAuthorizationData']"
											},
											"sink": {
												"name": "checkInAuthorizationData",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAuthorizationFlag']"
											},
											"sink": {
												"name": "checkOutAuthorizationFlag",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAuthorizationData']"
											},
											"sink": {
												"name": "checkOutAuthorizationData",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['exportTs']"
											},
											"sink": {
												"name": "exportTs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['actualUnits']"
											},
											"sink": {
												"name": "actualUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authUnits']"
											},
											"sink": {
												"name": "authUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['unitsEntered']"
											},
											"sink": {
												"name": "unitsEntered",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authAdjstUnits']"
											},
											"sink": {
												"name": "authAdjstUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['paidUnits']"
											},
											"sink": {
												"name": "paidUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['rate']"
											},
											"sink": {
												"name": "rate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['actualAmount']"
											},
											"sink": {
												"name": "actualAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['authAmount']"
											},
											"sink": {
												"name": "authAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['billableAmount']"
											},
											"sink": {
												"name": "billableAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['paidAmount']"
											},
											"sink": {
												"name": "paidAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['mileage']"
											},
											"sink": {
												"name": "mileage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['travelTime']"
											},
											"sink": {
												"name": "travelTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInDataXml']"
											},
											"sink": {
												"name": "checkInDataXml",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutDataXml']"
											},
											"sink": {
												"name": "checkOutDataXml",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_medicaidID']"
											},
											"sink": {
												"name": "bk_medicaidID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['payerXRef']"
											},
											"sink": {
												"name": "payerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimSubmitterID']"
											},
											"sink": {
												"name": "claimSubmitterID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['serviceLineID']"
											},
											"sink": {
												"name": "serviceLineID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkInLocationLatitude']"
											},
											"sink": {
												"name": "bk_checkInLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkOutLocationLatitude']"
											},
											"sink": {
												"name": "bk_checkOutLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkInLocationLongitude']"
											},
											"sink": {
												"name": "bk_checkInLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_checkOutLocationLongitude']"
											},
											"sink": {
												"name": "bk_checkOutLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAddressType']"
											},
											"sink": {
												"name": "checkInAddressType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAddressType']"
											},
											"sink": {
												"name": "checkOutAddressType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInAddressDesc']"
											},
											"sink": {
												"name": "checkInAddressDesc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutAddressDesc']"
											},
											"sink": {
												"name": "checkOutAddressDesc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInMobileCardXRef']"
											},
											"sink": {
												"name": "checkInMobileCardXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutMobileCardXRef']"
											},
											"sink": {
												"name": "checkOutMobileCardXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['dtBatchExportTs']"
											},
											"sink": {
												"name": "dtBatchExportTs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['contactDuration']"
											},
											"sink": {
												"name": "contactDuration",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['overlappingClaims']"
											},
											"sink": {
												"name": "overlappingClaims",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimReviewDate']"
											},
											"sink": {
												"name": "claimReviewDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimEditedToIncreaseUnits']"
											},
											"sink": {
												"name": "claimEditedToIncreaseUnits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['bk_consumerFullName']"
											},
											"sink": {
												"name": "bk_consumerFullName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkInLocationLatitude']"
											},
											"sink": {
												"name": "sk_checkInLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkInLocationLongitude']"
											},
											"sink": {
												"name": "sk_checkInLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkInPhone']"
											},
											"sink": {
												"name": "sk_checkInPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkOutLocationLatitude']"
											},
											"sink": {
												"name": "sk_checkOutLocationLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkOutLocationLongitude']"
											},
											"sink": {
												"name": "sk_checkOutLocationLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_checkOutPhone']"
											},
											"sink": {
												"name": "sk_checkOutPhone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerFullName']"
											},
											"sink": {
												"name": "sk_consumerFullName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerFirstName']"
											},
											"sink": {
												"name": "sk_consumerFirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerLastName']"
											},
											"sink": {
												"name": "sk_consumerLastName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerMidName']"
											},
											"sink": {
												"name": "sk_consumerMidName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_consumerXRef']"
											},
											"sink": {
												"name": "sk_consumerXRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['sk_medicaidID']"
											},
											"sink": {
												"name": "sk_medicaidID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkInDataXMLKeyNum']"
											},
											"sink": {
												"name": "checkInDataXMLKeyNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkOutDataXMLKeyNum']"
											},
											"sink": {
												"name": "checkOutDataXMLKeyNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['fmsaReviewDate']"
											},
											"sink": {
												"name": "fmsaReviewDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['backupWorker']"
											},
											"sink": {
												"name": "backupWorker",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['isMissingClockInOrOut']"
											},
											"sink": {
												"name": "isMissingClockInOrOut",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['clientAttestation']"
											},
											"sink": {
												"name": "clientAttestation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['visitModification']"
											},
											"sink": {
												"name": "visitModification",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['consumerSignatureAvailable']"
											},
											"sink": {
												"name": "consumerSignatureAvailable",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['checkDate']"
											},
											"sink": {
												"name": "checkDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['orignalSystemClaimFilingSource']"
											},
											"sink": {
												"name": "orignalSystemClaimFilingSource",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['providerMedicaid']"
											},
											"sink": {
												"name": "providerMedicaid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['settingOfCare']"
											},
											"sink": {
												"name": "settingOfCare",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ClaimData']['ClaimRecs'][0]['claimConfirmed']"
											},
											"sink": {
												"name": "claimConfirmed",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_Input_JsonFile_V3",
									"type": "DatasetReference",
									"parameters": {
										"ds_Param_FileNm": {
											"value": "@variables('pl_Var_FileNm')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OUT_AzureSQLTable_c3",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"pl_Var_FileNm": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-03-23T15:03:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}